_minted-thesis
!*.tex
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz
*.lof
*.lol
*.lot
*.toc
*converted-to.pdf
*.bcf
*.run.xml
*.tdo
*.swp
*.pyg
*.bak
tikz-cache
thesis.auxlock
X.tex
.direnv
_minted
thesis.bcf*
thesis.dvi
